@model WebApplication1.Order_Line

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order_Line</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Prod_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Prod_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Prod_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Prod_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Order_Line_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
