@model WebApplication1.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prod_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_In)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_In)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prod_Out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prod_Out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
