@model IEnumerable<WebApplication1.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cus_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cus_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cus_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sales_Person.Sales_Person_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cus_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cus_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cus_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sales_Person.Sales_Person_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cus_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cus_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cus_ID })
        </td>
    </tr>
}

</table>
